<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSSolutionTemplateTool.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VSSolutionTemplateTool.Settings1>
            <setting name="SolutionFolder" serializeAs="String">
                <value>F:\DEV\MBD\SEMAS\src v3\MBD.SEMAS.ExampleApiService</value>
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value>F:\DEV\MBD\SEMAS\src v3\Softcrafts.ExampleApiService</value>
            </setting>
            <setting name="KeywordForReplacement" serializeAs="String">
                <value>MBD.SEMAS</value>
            </setting>
            <setting name="NewSolutionKeyword" serializeAs="String">
                <value>Softcrafts</value>
            </setting>
        </VSSolutionTemplateTool.Settings1>
    </applicationSettings>
</configuration>